body{
    font-family: 'Nunito';
    
     
    
}

h3{
    font-size: 18px;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    color: #575ed8;
    background-color:antiquewhite;
}

#mario-chat{
    max-width: 600px;
    margin: 30px auto;
    /* border: 1px solid #C70039; */
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 200px;
    overflow: auto;
    background: #f3fcdf;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: rgb(12, 14, 151);
}

#feedback p{
    color: rgb(12, 14, 151);
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    /* background: rgb(252, 181, 181); */
    border: 0;
    display: block;
    /* margin: 15px; */
    width: 100%;
    /* background: rgb(219, 219, 219); */
    /* border-bottom: 1px solid #eee; */
    font-family: italic;
    font-style: italic;
    font-size: 16px;
}

.btnchat{
    position: fixed;
    background-color:rgba(10, 25, 235, 0.925);
    /* top: 0;
    bottom: 0; */
    margin-top: 40%;
    margin-left: 10px;
    width: 20%;
    cursor: pointer;
}
.btnchat > i.fa {
    color: rgba(234, 245, 237, 0.644);
    font-size: 30px;
    margin-left: 70px;
    transform: translateY(4px);
}

img{
    margin-left: 200px;
    border-radius: 30px;
    border: 1px solid black;
     
}
.modal-content{
    /* background-color: #070fb893; */
background: rgba(179,220,237,1);
background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 )
}
#chat-window{
    background-color: transparent;
}
.btn-primary{
    border-radius: 15px;
    width: 45%;
    margin-top: 15px;
    margin-left: 100px;
    margin-bottom: 15px;
}
.modal-dialog{
    -webkit-box-shadow: -5px 4px 24px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 4px 24px -10px rgba(0,0,0,0.75);
    box-shadow: -5px 4px 24px -10px rgba(0,0,0,0.75);
}

.modal-title{
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}